<launch>
	<!-- 启动Gazebo仿真环境 -->
	<include file="$(find abb_1410_gazebo)/launch/1410_URDF_test2/abb_1410_gazebo_world.launch" />

	<!-- 启动关节状态发布器和控制器 -->
	<include file="$(find abb_1410_gazebo)/launch/1410_URDF_test2/gazebo_states.launch" />
	<include file="$(find abb_1410_gazebo)/launch/1410_URDF_test2/trajectory_controller.launch" />
    
</launch>


